body {
    margin: 0;
    padding: 0;
    /* width : 100%;
    height : 100%; */
    background : rgb(45, 43, 52);
    overflow : hidden;
}

a {
    text-decoration:none ;
}

ul {
    list-style: none;
    margin : 0;
    padding : 0;
}
li {
    margin : 0;
    padding : 0;
}

.logo_animation {
    z-index: 5;
    text-align : center;
    padding : 20% 0 0 0;
}

.logo_animation img {
    text-align : center;
}
